/**
 * PCAnyPro - Enterprise
 * Header CSS
 * By KSM
 */

#header{
	background-color:#eaeaea;
	z-index: 2000;
	box-shadow: 0 1px 2px #272727;
}

.logo{
	background: #525252 url(../img/pattern_01.png) 0 0 repeat;
}
.logo a{
	color:#fff;
	font-size: 20px;
	font-weight:bold;
	display:block;
	text-align:center;
	background:url(../img/logo_w.png) 5px 10px no-repeat;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.top_menu li{
	float:left;
	text-align:center;
}

.top_menu li a{
	display:block;
	width:40px;
	font-size:15px;
	color:#6d6d6d;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.top_menu li a:hover{
	background: rgba(0, 0, 0, 0.1);
	color:#000;
}

.top_menu li a.active{
	background: rgba(0, 0, 0, 0.2);
	color:#000;
}

.top_drop_menu{
	position: absolute !important;
	background: rgba(0, 0, 0, 0.7) !important;
	padding: 0;
	border: 0;
	right: auto;
	left: auto;
	top: 49px;
	min-width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0 0 4px 4px;
}

.top_drop_menu.active{
	color:#fff;
}

.top_menu .show_side{
	display:block;
	width:60px;
}

.top_menu .dropdown #user_menu{
	display:block;
	width:60px;
}

.top_menu .dropdown #trans_menu{
	display:block;
	width:60px;
}

.top_drop_menu > li > a {
	padding:5px 2px !important;
	width:60px;
	color:#f0f0f0;
	font-size:12px;
	border-radius: 0 0 4px 4px;
}

.top_drop_menu > li > a:focus, .top_drop_menu > li > a:hover, .top_drop_menu > li.active > a {
	background:rgba(0, 0, 0, 1);
	color:#f0f0f0;
}

.gnb li{
	float:left;
	text-align:center;
}

.gnb li a{
	display:block;
	width:100px;
	color:#6d6d6d;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.gnb li a:hover{
	color:#000;
	background: rgba(0, 0, 0, 0.2);
}

.gnb li a.active{
	color:#fff;
	background: rgba(0, 0, 0, 0.3);
}