/* index version */
.theme{
	position:fixed;
	top:50px;
	left:10px;
}
.theme li{
	float:left;
	margin-right:10px;
	font-size:50px;
}
.theme li.theme1 a{
	display:block;
	color:#fff;
}
.theme li.theme2 a{
	display:block;
	color:blue;
}
.theme li.theme3 a{
	display:block;
	color:green;
}

/* container */
#container{
	width:100%;
	height:100%;
}

.login_box{
	margin:5% auto;
	width:700px;
	height:300px;
}

.main_visual{
}

.login_form{
	position:relative;
	width:400px;
	height:150px;
	margin:50px auto;
	background-color:#fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #272727;
}

.forgot{
	margin:10px;
	text-align:center;
	font-size:12px;
}

.id_area{
	margin:20px 0 0 20px;
	width:250px;
}

.pw_area{
	margin:20px 0 0 20px;
	width:250px;
}

.login_btn{
	position:absolute;
	top:20px;
	right:20px;
	line-height:70px;
}

/* footer */
#footer{
	width:100%;
	background:rgba(0,0,0, 0.2);
}

.os_list{
	position:relative;
	left:10px;
	z-index:4;
}
.os_list li{
	float:left;
}

.os_list li a{
	font-size:25px;
	color:#fff;
	display:block;
	width:50px;
	text-align:center;
}

.os_list li a:hover{
	background:rgba(0,0,0,0.3);
}

.copy{
	position:absolute;
	bottom:8px;
	width:100%;
	color:#fff;
	text-align:center;
	z-index:3;
}


.fallow_list{
	position:absolute;
	right:10px;
	z-index:4;
}

.fallow_list li{
	float:left;
}

.fallow_list li a{
	font-size:25px;
	color:#fff;
	display:block;
	width:50px;
	text-align:center;
}

.fallow_list li a:hover{
	background:rgba(0,0,0,0.3);
}