/**
 * PCAnyPro - Enterprise
 * Container CSS
 * By KSM
 */

#content{
	box-shadow: 0 0 6px #131313;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.side{
	background: #eee url(../img/pattern_01.png) 0 0 repeat;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}


/* side */
.side-show .side{
	opacity: 1;
	width: 16.666666666666664%;
}

.side-show #content{
	opacity: 1;
	width: 83.33333333333334%;
}

.side .title{
	background: #f5f5f5 url(../img/pattern_01.png) 0 0 repeat;
	line-height:35px;
	font-size:15px;
	text-align:center;
	color:#6d6d6d;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;	
}

.side .title:hover{
	color:#333;
}

.side .group_menu{
	position:absolute;
	top:7px;
	right:10px;
}

.side .group_menu li{
	float:left;
}

.side .belong_tree li.belong_root{
	text-indent:10px;
}

.side .tree li.pc{
	text-indent:10px;
}

.side .belong_tree li.belong_pc{
	text-indent:20px;
}

.side .tree > li a{
	display:block;
	background:none;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.side .tree > li a:hover{
	background:rgba(0, 0, 0, 0.2);
	color:#fff;
}

.side .tree > li a span.side_name{
	white-space:nowrap;
	display:block;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}

.side .tree > li a span.side_name:hover{
	overflow:visible;
}

.side .tree > li a.active{
	background:rgba(0, 0, 0, 0.3);
	color:#fff;
}

.drag_hover{
	background:rgba(0, 0, 0, 0.2);
}

/* content */
.content_menu_panel{
	background: url(../img/pattern_01.png) 0 0 repeat;
	height:35px;
}

.content_menu{
	position:absolute;
	top:7px;
	left:10px;
}

.list_view li{
	text-align:center;
	width:100px;
	float:left;
}

.list_view li a{
	position:relative;
	left:15px;
	display:block;
	width:70px;
	height:70px;
	color:#fff;
	font-size:45px;
}

.list_view li a:hover{
	background: rgba(0, 0, 0, 0.2);
}

.list_view li a.on{
	background: rgba(0, 0, 0, 0.3);
}

.list_view li a span.veiw_name{
	white-space:nowrap;
	text-align:center;
	position:absolute;
	display:block;
	font-size:12px;
	width:100%;
	bottom:0;
	overflow:hidden;
	text-overflow:ellipsis;
}

.list_view li a span.veiw_name:hover{
	 overflow:visible;
}

/* modal */

.modal{
	top:50px;
}

.modal .header_primary{
	background: #428bca url(../img/pattern_01.png) 0 0 repeat;
	height:40px;
	padding:10px;
	color:#fff;
	font-weight:bold;
}

.modal .header_danger{
	background: #d9534f url(../img/pattern_01.png) 0 0 repeat;
	height:40px;
	padding:10px;
	color:#fff;
	font-weight:bold;
}

.modal .header_warning{
	background: #f0ad4e url(../img/pattern_01.png) 0 0 repeat;
	height:40px;
	padding:10px;
	color:#fff;
	font-weight:bold;
}

.modal .alert_header{
	text-align:center;
	padding:10px 0 30px;
	font-size:15px;
}

.modal .alert_content{
	line-height:30px;
	margin-bottom:10px;
}

.modal .alert_content .alert_msg{
	display:block;
	text-align:center;
	height:30px;
	margin-bottom:5px;
}

.modal .alert_content{
	text-align:center;
}

.modal .alert_content .create_label{
	display:block;
	width:70px;
	float:left;
	text-align:center;
}

.modal .alert_content .create_input{
	display:block;
	width:180px;
	float:right;
}

.modal .modal-footer{
	background: #eee url(../img/pattern_01.png) 0 0 repeat;
	height:50px;
	padding:10px 5px;
}

.modal .modal-footer .confirm_btn{
	width:70px;
}

.modal .modal-footer .cancel_btn{
	width:70px;
}

.modal .label_warning{
	display:inline-block;
	padding:0 5px;
	background:#f0ad4e;
	color:#fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
}

.modal .label_danger{
	display:inline-block;
	padding:0 5px;
	background:#d9534f;
	color:#fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
}

.modal .label_primary{
	display:inline-block;
	padding:0 5px;
	background:#428bca;
	color:#fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
}

/* menu */
.side_drop_menu{
	position: absolute !important;
	background: rgba(0, 0, 0, 0.7) !important;
	padding: 0;
	border: 0;
	right: auto;
	left: auto;
	top: 49px;
	display:block;
	width:30px !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px 4px 4px 4px;
}

.side_drop_menu > li > a {
	padding:5px 2px !important;
	color:#f0f0f0;
	font-size:12px;
	border-radius: 4px 4px 4px 4px;
}

.side_drop_menu > li > a:focus, .side_drop_menu > li > a:hover, .side_drop_menu > li.active > a {
	background:rgba(0, 0, 0, 1);
	color:#f0f0f0;
}