/**
 * PCAnyPro - Enterprise
 * Container CSS
 * By KSM
 */

#content{
	box-shadow: 0 0 6px #131313;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.side{
	background: #eee url(../img/pattern_01.png) 0 0 repeat;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

/* side */
.side-show .side{
	opacity: 1;
	width: 16.666666666666664%;
}

.side-show #content{
	opacity: 1;
	width: 83.33333333333334%;
}

.side .title{
	background: #f5f5f5 url(../img/pattern_01.png) 0 0 repeat;
	line-height:35px;
	font-size:15px;
	text-align:center;
	color:#6d6d6d;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;	
}

.side .title:hover{
	color:#333;
}

.side .stats_nav > li a{
	display:block;
	line-height:40px;
	text-indent:20px;
	background:none;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.side .stats_nav > li a:hover{
	background:rgba(0, 0, 0, 0.2);
	color:#fff;
}

.side .stats_nav > li a.active{
	background:rgba(0, 0, 0, 0.3);
	color:#fff;
}

/* content */
.content_menu_panel{
	background: url(../img/pattern_01.png) 0 0 repeat;
	height:35px;
}

.content_menu{
	position:absolute;
	top:7px;
	left:10px;
}